#forum-form
  = error_messages_for('forum')
  %fieldset#forum_name
    %label
      = t("savage_beast.title_title")
    = form.text_field :name, :class => "primary"
    %label
      = t("savage_beast.position_title")
    = form.text_field :position, :size => 5
  %fieldset#forum_descripion
    %label
      = t("savage_beast.description_title")
    = form.text_area :description, :rows => 7
