%fieldset
  %label{ :for => "topic_title" }
    = t("savage_beast.title_title")
  = form.text_field :title, :onchange => "/*TopicForm.editNewTitle(this);*/", :class => "primary", :tabindex => 10
  - if admin? or current_user.moderator_of?(@topic.forum)
    %label
      = t("savage_beast.sticky_title")
    = form.check_box :sticky
    %label
      = t("savage_beast.locked_title")
    = form.check_box :locked


- if @topic.new_record?
  %fieldset
    %label{ :for => "topic_body" }
      = t("savage_beast.body_title")
    = form.text_area :body, :size => "40x10"
  %fieldset
    %label{ :for => "topic_post_tags" }
      =t('savage_beast.tags')
    = form.text_field :body_list, :tabindex => 30
- if admin? and not @topic.new_record?
  %fieldset#topic_forum_id
    %label{ :for => "topic_forum_id" }
      = t("savage_beast.forum_title")
    = form.select :forum_id, Forum.find(:all, :order => "position").map {|x| [x.name, x.id] }
